<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic template</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div id="container" style="max-width:1400px">
        <div id="top" class="w3-container">
            <header class="w3-container w3-teal">
                <h1>heading</h1>
            </header>
        </div>
        <div id="content" class="w3-container w3-content" style="max-width:1200">
            <!--default max for w3-content = 980 -->
            <p> Content goes here.</p>

            <p><a href="https://www.w3schools.com/w3css/">w3schools w3css</a></p>

            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque feugiat fermentum lacus himenaeos, est
                netus maecenas. Ac nascetur sollicitudin iaculis auctor eu sollicitudin blandit pellentesque.
                Tempor class varius aenean enim semper curae est. Porta tristique urna massa semper odio odio nec leo.
                Cras curae lacus velit sodales nostra semper.
                Venenatis mi primis dictum nam feugiat arcu. Himenaeos odio posuere himenaeos per pulvinar nam ipsum.
            </p>

            <p>Euismod facilisi elit sagittis dapibus urna sociosqu senectus pharetra. Quisque nulla mi montes quis
                rutrum.
                Et dolor hac et finibus condimentum; ridiculus ut laoreet. Dolor faucibus nam quam dapibus magnis.
                Nullam sollicitudin amet mauris conubia dictum.
                Imperdiet curae lobortis iaculis sodales diam morbi facilisi interdum. Dignissim ridiculus libero
                commodo eu nullam nisi gravida.
                Sagittis mi faucibus vehicula eu luctus auctor. Vel etiam pulvinar felis blandit himenaeos vehicula.</p>


        </div> <!--end content -->
    </div> <!--end container -->
</body>

</html>